---
import Layout from "../layouts/Layout.astro";
import LinkButton from "../components/LinkButton.astro";
import TopNav from "../components/TopNav.astro";
// import Accomplishments from "../components/Accomplishments.astro";
import MyStory from "../components/MyStory.astro";
import MyWork from "../components/MyWork.astro";
import AboutMe from "../components/AboutMe.astro";
import Contact from "../components/Contact.astro";

const mhUrl = "https://www.modernhealth.com/";
const anomalieUrl =
  "https://www.retaildive.com/news/davids-bridal-acquires-custom-wedding-dress-startup-anomalie/623973/";
const sfUrl = "https://www.stitchfix.com/";
const modClothUrl = "http://www.modcloth.com";
const builtUrl = "http://www.getBuilt.com";

const resumeUrl = "https://docs.google.com/document/d/1SaZ4JSDOMKmL3DXPAOlfW2wrOcPJz3YNPabrS91beSI/edit?usp=sharing"
const linkedinUrl = "https://www.linkedin.com/in/borudesign/"
const mediumUrl = "https://medium.com/@yorthehunter"
---

<Layout
  title="Brian Cleveland: Principal Product Designer and UX Leader"
>
  <TopNav />
  <main id="main">
    <header class="content-section">
      <h1 class="heading-1">
        Principal Product Designer and UX Leader
      </h1>
      <h2 class="body-2">
        Hi, I'm Brian Cleveland, a product designer with 15 years of design systems and UX leadership with startup and growth phase companies in retail, healthcare, and fintech. Proven expertise in cross-functional collaboration, rapid prototyping, and turning ideas into delightful user experiences across platforms. Experienced hybrid design engineer who partners closely with product teams.
      </h2>
      <nav class="navigation-list">
        <ul>
          <li>
            <LinkButton
              href={resumeUrl}
              label="My Resume"
              newWindow
            />
          </li>
          <li>
            <LinkButton
              href={linkedinUrl}
              label="LinkedIn"
              newWindow
            />
          </li>
          <li>
            <LinkButton
              href={mediumUrl}
              label="Medium"
              newWindow
            />
          </li>
        </ul>
      </nav>
    </header>
    <article class="content-section">
      <p class="body-3">
        Staff designer at <a href={builtUrl} target="_blank"
          >Built Technologies</a
        > and <a href={mhUrl} target="_blank">Modern Health</a>. Principal designer
        at <a href={anomalieUrl} target="_blank">Anomalie</a> (acquired by David’s
        Bridal). First designer, hybrid design engineer, and later first lead platform designer at <a
          href={sfUrl}
          target="_blank">Stitch Fix</a
        >. Interaction designer at <a href={modClothUrl} target="_blank"
          >ModCloth</a
        >.
      </p>
    </article>
    <!-- <article class="content-section">
      <h2 class="heading-3">Accomplishments</h2>
      <Accomplishments />
    </article> -->
    <article class="content-section" id="my-work">
      <h2 class="heading-3">My Work</h2>
      <MyWork />
    </article>
    <article class="content-section" id="about-me">
      <h2 class="heading-3">About Me</h2>
      <AboutMe>
        <article class="content-section" id="reach-out" slot="aboutMe">
          <h3 class="heading-4">My Design Journey</h3>
          <MyStory />
        </article>
      </AboutMe>
    </article>
    <article class="content-section" id="reach-out">
      <h2 class="heading-3">Reach Out</h2>
      <Contact resumeUrl={resumeUrl} linkedinUrl={linkedinUrl} mediumUrl={mediumUrl} />
    </article>
    <footer>
      <p>
        This site was built with <a
          href="https://github.com/yorthehunter/portfolio-2024"
          target="_blank">Astro and SCSS</a
        >.
      </p>
    </footer>
  </main>
</Layout>

<style>
  .content-section {
    display: flex;
    padding: var(--space-xl) var(--space-s);
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 2.5rem;
    align-self: stretch;
    max-width: 70.5rem;
    margin: auto;
  }

  .heading-1 {
    font: var(--font-heading-1);
  }

  .heading-2 {
    font: var(--font-heading-2);
  }

  .heading-3 {
    font: var(--font-heading-3);
  }

  .heading-4 {
    font: var(--font-heading-4);
  }

  .body-1 {
    font: var(--font-body-1);
  }

  .body-2 {
    font: var(--font-body-2);
  }

  .body-3 {
    font: var(--font-body-3);
  }

  .body-4 {
    font: var(--font-body-4);
  }
  .navigation-list > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
  }

  .navigation-list li {
    display: flex;
  }

  @media only screen and (max-width: 380px) {
    .navigation-list > ul {
      flex-direction: column;
    }
  }
  .all-caps {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .soft {
    color: var(--color-secondary);
  }

  footer {
    border-top: 3px solid var(--color-vibrant);

    > p {
      padding: var(--space-xl) var(--space-s);
      max-width: 70.5rem;
      margin: auto;
      font: var(--font-body-4);
    }
  }
</style>
