---
import { Image } from "astro:assets";
import LinkButton from "../components/LinkButton.astro";
import modeDS from "../assets/images/sample-sf-mode.png";
import colorPalette from "../assets/images/sample-mh-colors.png";
import homeScreen from "../assets/images/sample-mh-home.png";
import returnsProcess from "../assets/images/sample-sf-returns.png";
import globalNav from "../assets/images/sample-mh-nav.png";
---

<p>
  These portfolio pieces are examples of highly successful projects that have
  driven business results. It's been my privilege to partner with amazing
  teammates to solve these unique problems.
</p>
<p>
  I value documenting decisions, catering storytelling to your audience,
  trusting partnerships between teammates, and enacting process and automation
  at the right time.
</p>

<ul>
  <li class="work-card">
    <Image
      src={modeDS}
      alt="Screenshot of the Mode Design System from Stitch Fix"
      class="image"
      loading="lazy"
    />
    <section class="content">
      <h2>Introducing the Mode Design System</h2>
      <p>
        Led the design of the Mode Design System, the customer-facing DS at
        Stitch Fix. Rolled out a cross-platform UI system serving 100+ product partners on 16 customer-facing teams, enabling the rebrand of the customer UX.
      </p>
      <LinkButton newWindow label="Read on Medium" href="https://yorthehunter.medium.com/introducing-the-mode-design-system-b3a64cb916da?sk=7450450ef476290ea72991dc0c0110c8" />
    </section>
  </li>
  <li class="work-card">
    <Image
      src={colorPalette}
      alt="Color examples from the Vita Design System color palette"
      class="image"
      loading="lazy"
    />
    <section class="content">
      <h2>Creating an Accessible, Scalable Color Palette</h2>
      <p>
        Redesigned the color palette for all web and mobile platforms (member, provider, client) at Modern Health. Enabled
        WCAG-compliance at scale and an enhanced UX through better accessibility of design.
      </p>
      <LinkButton newWindow label="Read on Medium" href="https://yorthehunter.medium.com/how-we-created-an-accessible-scalable-color-palette-2ae1242abdcb" />
    </section>
  </li>
  <li class="work-card">
    <Image
      src={returnsProcess}
      alt="A stock image of a full loading dock"
      class="image"
      loading="lazy"
    />
    <section class="content">
      <h2>Designing a Returns Process that Reflects Reality</h2>
      <p>
        Designed a new returns process at Stitch Fix by mapping the physical
        space of users to a digital experience, resulting in a 50% increase in
        throughput efficiency and 15% reduction in mistakes.
      </p>
      <LinkButton newWindow label="View the Presentation" href="https://www.figma.com/proto/wS6ueswXKU1mBg4spRq1C6/Portfolio-2023%E2%80%932024?node-id=765-370&node-type=section&t=OCbnbU6f7Ta94OPS-1&scaling=contain&content-scaling=fixed&page-id=762%3A18068" />
    </section>
  </li>
  <li class="work-card">
    <Image
      src={homeScreen}
      alt="Desktop and mobile views of the new home screen at Modern Health"
      class="image"
    />
    <section class="content">
      <h2>Launched a Personalized Home Screen</h2>
      <p>
        Designed a modular home screen, resulting in 25% higher retention, better user engagement, and the launch of algorithmically personalized content.
      </p>
      <LinkButton newWindow label="View the Presentation" href="https://www.figma.com/proto/wS6ueswXKU1mBg4spRq1C6/Portfolio-2023%E2%80%932024?page-id=808%3A11414&node-id=808-19544&node-type=section&t=vmCyw9LoND2kaYWq-0&scaling=min-zoom&content-scaling=fixed" />
    </section>
  </li>
  <li class="work-card">
    <Image
      src={globalNav}
      alt="A screenshot of the spec work for the Global Navigation in the Vita Design System from Modern Health"
      class="image"
      loading="lazy"
    />
    <section class="content">
      <h2>Launched Multi-platform Global Navigation</h2>
      <p>
        Componentized our global navigation across all platforms at Modern
        Health, enabling global search and increasing engagement by 35% with all
        member-facing products.
      </p>
      <span><em>Please Ask for Details About this Project</em></span>
    </section>
  </li>

</ul>

<style lang="scss">
  p {
    font: var(--font-body-3);
  }

  ul {
    list-style: none;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--space-xl);
  }

  .work-card {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
    border-radius: 20px;
    background: var(--color-vibrant-gradient);
    padding: var(--space-m) var(--space-m) 0;
    position: relative;

    @media screen and (max-width: 720px) {
      flex-direction: column;
    }

    &:hover .content {
      visibility: visible;
      opacity: 1;
    }

    .image {
      object-fit: contain;
      max-width: min(700px, 100%);
      height: auto;
      margin: auto;

      @media screen and (max-width: 812px) {
        max-width: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      transition: visibility 0s, opacity 0.15s ease-in;
      visibility: hidden;
      opacity: 0;
      padding: var(--space-m) var(--space-m);
      border-radius: 20px;
      color: white;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      gap: var(--space-xs);
      align-items: start;
      flex: 1;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: var(--color-bg-overlay-dark);

      > p {
        @media screen and (max-width: 812px) {
          display: none;
        }
      }
    }

    h2 {
      font: var(--font-heading-4);
    }

    p {
      font: var(--font-body-4);
    }
  }
</style>
